version: '3.8'

services:
  web:
    build: .
    ports:
      - "${APP_PORT:-8080}:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    links:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=bot_user
      - DB_PASS=bot_password
      - DB_NAME=bot_db

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: bot
      MYSQL_ROOT_PASSWORD: '23092005'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
